body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e8f2ff, #f1f2f7);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
    padding-left: 140px;
    padding-right: 140px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 700px;
  }

  h2, h1  {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 30px;
  }

  .department {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }

  .department h3 {
    color: #2c3e50;
    margin-bottom: 10px;
  }

  .doctors-list {
    margin: 10px 0;
    padding-left: 20px;
    color: #555;
  }

  .add-doctor-form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .add-doctor-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .add-doctor-form button {
    background-color: #1d4ed8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  .add-doctor-form button:hover {
    background-color: #45a049;
  }


  
  .delete-icon {
    position: relative;
    left: 650px;
    top: 5px;
    color: red;
    cursor: pointer;
    font-weight: bold;
  }

  .modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .doctor-name {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  .removeDoctorBtn {
  background-color: #e74c3c;       
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.remove-doctor-btn:hover {
  background-color: #c0392b;       
}
h3{
  color: #37368b;
}


  @media (max-width: 600px) {
    .add-doctor-form {
      flex-direction: column;
    }
  }